<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="classServiceEndpoint" />
        <binding name="facultyServiceEndpoint" />
        <binding name="studentServiceEndpoint" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/QLSV.WCF/ClassService/"
        binding="wsHttpBinding" bindingConfiguration="classServiceEndpoint"
        contract="ClassServiceRef.IClassService" name="classServiceEndpoint">
        <identity>
          <userPrincipalName value="DESKTOP-3OQCIT0\Luong Thanh" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/QLSV.WCF/FacultyService/"
        binding="wsHttpBinding" bindingConfiguration="facultyServiceEndpoint"
        contract="FacultyServiceReference.IFacultyService" name="facultyServiceEndpoint">
        <identity>
          <userPrincipalName value="DESKTOP-3OQCIT0\Luong Thanh" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/QL_SV.Service/StudentService/"
        binding="wsHttpBinding" bindingConfiguration="studentServiceEndpoint"
        contract="StudentServiceReference.IStudentService" name="studentServiceEndpoint">
        <identity>
          <userPrincipalName value="DESKTOP-3OQCIT0\Luong Thanh" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>