<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.8" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="33.2.10" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="33.2.10" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
</packages>